@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-lg: 1.75rem;
  --title-md: 1.5rem;
  --title-sm: 1.125rem;

  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-2xs: 0.625rem;

  line-height: 120%;
}

h1,h2,h3 {
  font-family: var(--font-dm-sans);
  font-weight: 700;
}

h1 {
  font-size: var(--title-lg);
}

h2 {
  font-size: var(--title-md);
}

h3 {
  font-size: var(--title-sm);
}

.subtitle {
  font-size: var(--text-md);
  font-weight: 600;
}

.body-md {
  font-size: var(--text-md);
  font-weight: 400;
}

.body-sm {
  font-size: var(--text-sm);
  font-weight: 400;
}

.body-xs {
  font-size: var(--text-xs);
  font-weight: 400;
}

.label-md {
  font-size: var(--text-xs);
  font-weight: 500;
  text-transform: uppercase;
}

.label-sm {
  font-size: var(--text-2xs);
  font-weight: 500;
  text-transform: uppercase;
}

.action-md {
  font-size: var(--text-md);
  font-weight: 500;
}

.action-md {
  font-size: var(--text-sm);
  font-weight: 500;
}